/* SEÇÃO SOBRE NÓS */
.container-sobre-nos, .container-servicos, .container-blog {
  padding: 1rem;
}

.container-sobre-nos div {
  align-items: center;
  text-align: center;
}

.container-sobre-nos div img {
  width: 20rem;
  border-radius: 1rem;
  margin: 1rem;
}

.container-sobre-nos div p {
  text-align: justify;
}

/* SEÇÃO SERVIÇOS */
.container-servicos {
  background: var(--color4);
}

.card-servico {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.card-servico h3 {
  font-family: var(--font-titulo);
  font-size: 1.5rem;
}

.icone-card {
  color: var(--color2);
  font-size: 3rem;
}

.card-servico p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/* SEÇÃO BLOG */
.card-blog {
  margin: 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--color1);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-blog img {
  width: 15rem;
  margin: 1rem;
}

.card-blog h3 {
  font-size: 0.9rem;
  margin: 0.5rem;
}

.card-blog a {
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color2);
  color: #000;
  border-radius: 1rem;
}