@media (min-width: 1025px) {
 .titulo-secao {
    font-size: 2rem;
  }
  
  /* SEÇÃO CABEÇALHO DA PÁGINA */
  .cabecalho {
    height: 40rem;
  }

  .titulo-principal {
    font-size: 4rem;
  }

  /* SEÇÃO SOBRE NÓS */
  .container-sobre-nos div, .container-servicos, .container-blog, .container-contatos {
    display: flex;
    justify-content: space-around;
  }

  .bloco2 {
    flex-direction: row-reverse;
  }

  .container-sobre-nos div img {
    width: 30rem;
  }

  .container-sobre-nos div p {
    width: 40rem;
  }

  /* SEÇÃO QUEM SOMOS */
  .container-quem-somos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* SEÇÃO CONTATOS */
  .container-contatos {
    align-items: center;
  }
  
  .contato {
    align-items: center;
  }

  .form {
    width: 30rem;
  }
}