@import url('https://fonts.googleapis.com/css2?Source+Code+Pro&family=Josefin+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-principal);
}

:root {
  --color1: #e3dfba;
  --color2: #c8d6bf;
  --color3: #93ccc6;
  --color4: #6cbdb5;
  --color5: #1a1f1e;
  --font-principal: 'Josefin Sans', sans-serif;
  --font-titulo: 'Source Code Pro', monospace, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* BARRA DE SCROLL ESTILIZADA */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 10px;
}

.titulo-secao {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color5);
  padding: 1rem;
  font-family: var(--font-titulo);
}

/* SEÇÃO CABEÇALHO DA PÁGINA */

.cabecalho {
  background: linear-gradient( #6cbdb543, #6cbdb543), url('https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80');
  height: 12rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.menu {
  border: none;
  float:left;
}

.icone {
  font-size: 2rem;
  color: #f5f5f5;
}

.menu li{
  position:relative;
  float:left;
}

.menu li a{
  color: var(--color4);
  padding:5px 10px;
  display:block;
}

.menu li a:hover{
  background: var(--color3);
  color:#fff;
  box-shadow:0 3px 10px 0 #ccc;
  text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
  position:absolute;
  top:25px;
  left:0;
  background-color:#fff;
  display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
  border:1px solid #c0c0c0;
  display:block;
  width: 150px;
}

.titulo-principal {
  font-size: 2rem;
  text-align: center;
  color: var(--color5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid var(--color4);
  border-top: 2px solid var(--color4);
  font-family: var(--font-titulo);
}

/* SEÇÃO SOBRE NÓS */
.container-sobre-nos, .container-servicos, .conteiner-quem-somos {
  padding: 1rem;
}

.container-sobre-nos div {
  align-items: center;
  text-align: center;
}

.container-sobre-nos div img {
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.container-sobre-nos div p {
  text-align: justify;
}

/* VOLTAR AO TOPO */


/* SEÇÃO SERVIÇOS */
.container-servicos {
  background: var(--color4);
}

.card-servico {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.card-servico h3 {
  font-family: var(--font-titulo);
  font-size: 1.5rem;
}

.icone-card {
  color: var(--color2);
  font-size: 3rem;
}

.card-servico p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/* SEÇÃO QUEM SOMOS */
.container-quem-somos {
  text-align: center;
}

.card-profissionais {
  margin: 1rem;
  border-bottom: 2px solid var(--color1);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-profissionais img {
  width: 15rem;
  margin-bottom: 1rem;
}

.lista-especialidades {
  margin: 1rem 0;
}

.icone-social {
  font-size: 2rem;
  color: var(--color4);
  margin-bottom: 1rem;;
}

.icone-social:hover {
  color: var(--color3);
}

/* CARROSSEL DA SEÇÃO QUEM SOMOS */
#items-wrapper {
  width: 100%;
}

.item {
  flex: none;
}

#items {
  display: flex;
  overflow-x: auto;
}