* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --color1: #e3dfba;
  --color2: #c8d6bf;
  --color3: #93ccc6;
  --color4: #6cbdb5;
  --color5: #1a1f1e;
}

html {
  scroll-behavior: smooth;
}

.linha {
  margin: 1rem;
  height: 2px;
  background-color: var(--color1);
}

.titulo-secao {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color5);
  padding: 1rem;
}

/* SEÇÃO CABEÇALHO DA PÁGINA */

.cabecalho {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80');
  height: 12rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.menu {
  border: none;
  float:left;
}

.icone {
  font-size: 2rem;
  color: var(--color3)
}

.menu li{
  position:relative;
  float:left;
}

.menu li a{
  color: var(--color4);
  padding:5px 10px;
  display:block;
}

.menu li a:hover{
  background: var(--color3);
  color:#fff;
  box-shadow:0 3px 10px 0 #ccc;
  text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
  position:absolute;
  top:25px;
  left:0;
  background-color:#fff;
  display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
  border:1px solid #c0c0c0;
  display:block;
  width: 150px;
}

.titulo-principal {
  font-size: 2rem;
  text-align: center;
  color: var(--color5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid var(--color3);
  border-top: 2px solid var(--color3);
}

/* SEÇÃO SOBRE NÓS */

.container-sobre-nos, .container-servicos {
  padding: 1rem;
}

.container-sobre-nos div {
  align-items: center;
  text-align: center;
}

.container-sobre-nos div img {
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.container-sobre-nos div p {
  text-align: justify;
}

/* SEÇÃO SERVIÇOS */
.card-servico {
  text-align: center;
  border-bottom: 4px solid var(--color1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.icone-card {
  color: var(--color1);
  font-size: 2rem;
}

.card-servico p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

